/* Set the CSS variable based on an estimated height */
:root {
    --header-height: 80px; /* Estimate the height */
    --footer-height: 66px; /* Set the footer height to match the header height */
}

/* Basic reset for consistent margins and paddings */
           
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    min-height: 100vh;
    background-color: var(--background);
    color: var(--secondary-foreground);
    display: flex;
    flex-direction: column; /* Arrange items in a column */
}


.content {
    flex: 1; /* Allows the container to take available space */
    display: flex; /* Use flexbox */
    flex-direction: column; /* Stack items vertically */
    align-items: flex-start; /* Align child elements (like the button) to the left */
    justify-content: center;
    padding-left: 80px; /* Add space between the left edge and content */
}


main {
    width: 100%; /* Make sure it takes full width */
    flex: 1; /* Allow it to grow within the flex container */    
}

header,
footer {
    display: flex;
    align-items: center; 
    position: fixed;
    background-color: var(--secondary);
    color: var(--secondary-foreground);
    gap: 10px;
    width: 100%; /* Make the header and footer take full width */
    z-index: 10;
}


footer {
    bottom: 0;
    width: 100%;
    box-shadow: 1px 1px 4px 0 rgba(0, 0, 0, 0.1);
    height: var(--footer-height);
}

header {
    top: 0;
    width: 100%;
    box-shadow: 1px 1px 4px 0 rgba(0, 0, 0, 0.1);
    height: var(--header-height);
}

header div,
footer div {
    background-color: var(--primar-backgroundy);
    padding: 10px;
    text-align: center;
    display: block;
}


a {
    color: var(--muted-foreground);
}

article {
    margin-bottom: 40px;
    background-color: var(--accent);
    padding: 20px 40px;
    border-radius: 10px;
    color: var(--destructive);
}

blockquote {
    background-color: var(--foreground);
    border-left: 10px solid var(--muted);
    margin: 20px 0;
    padding: 10px 20px;
}

cite {
    display: block;
    margin-top: 10px;
    font-size: 0.9em;
    color: var(--primary);
}

p {
    margin: 15px 0;
    line-height: 1.8;
}

.highlight {
    color: var(--primary);
}

.header-container h1 {
    font-size: 2.5em;
    color: var(--destructive);
    margin: 0;
    padding-bottom: 20px;
}

.image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.image-container img {
    width: 100%;
    height: auto;
}

.toc {
    text-align: center;
    margin: 20px 0;
}

.toc a {
    margin: 0 10px;
    padding: 10px 20px;
    background-color: var(--muted);
    border-radius: 5px;
    color: var(--foreground);
    text-decoration: none;
}

.toc a:hover {
    background-color: var(--primary);
}

.final-section {
    text-align: center;
    padding: 40px 20px;
    background-color: var(--muted);
    color: var(--foreground);
}

.final-section a {
    display: block;
    margin: 10px 0;
    color: var(--foreground);
    text-decoration: none;
    font-weight: bold;
}

.final-section a:hover {
    color: var(--accent);
}

.oswald {
    font-family: 'Oswald', sans-serif;
    font-weight: 300;
    font-size: 24px;
    color: black;

}

.oswald::after {
    content: "designer, student, runner, traveler...";
    font-family: 'Italiana', sans-serif;
    font-weight: 300;
    font-size: 24px;
    color: black;
    display: block; /* Moves "designer" text to a new line */
    margin-top: 5px;
}

/* Additional styles for the quote button and text */
.quote-btn {
    display: inline-block; /* Prevents stretching */
    margin: 10px 0; /* Removes horizontal centering */
    padding: 8px 10px; /* Controls button size */
    background-color: #b69791; 
    color: rgb(54, 54, 54);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 15px;
    font-family: 'Oswald', sans-serif;
}


.quote-btn:hover {
    background-color:  #b69791; 
}

.quote-text {
    margin-top: 10px;
    font-family: 'Italiana', sans-serif;
    font-size: 30px;
    color: #333;
   

}
