:root {
    /* Custom color palette */
    --background: #ffffff; 
    --foreground:  rgb(255, 255, 255);

    --card: #64149a; 
    --card-foreground:#f59673; 

    --popover: #010440; 
    --popover-foreground:#F2B950; 

    --primary: #F24405; 
    --primary-foreground: #F2F2F2; 

    --secondary: #b69791; 
    --secondary-foreground: #d54626; 

    --muted: #A61C81; 
    --muted-foreground:#ffffff; 

    --accent: #F21326; 
    --accent-foreground: #010440; 

    --destructive: #7278F2; 
    --destructive-foreground: #F2F2DC; 

    --border: hsla(28, 1%, 61%, 1); /* #A59B95 */
    --input: rgb(232, 208, 188); /* #B5A79F */
    --ring: rgb(249, 149, 91); /* #323B42 */


    /* Combinations */
    .card {
        background-color: var(--card);
        color: var(--card-foreground);
    }

    .popover {
        background-color: var(--popover);
        color: var(--popover-foreground);
    }

    .primary {
        background-color: var(--primary);
        color: var(--primary-foreground);
    }

    .secondary {
        background-color: var(--secondary);
        color: var(--secondary-foreground);
    }

    .muted {
        background-color: var(--muted);
        color: var(--muted-foreground);
    }

    .accent {
        background-color: var(--accent);
        color: var(--accent-foreground);
    }

    .destructive {
        background-color: var(--destructive);
        color: var(--destructive-foreground);
    }
}